* {
    font-family: "Arial", ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E1E1E1;
    color: #2C3432;
}

a {
    text-decoration: none;
    color: #2C3432;
    transition: .5s;
}

a:hover {
    color: black;
}


